{
  "extends": ["eslint:recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["simple-import-sort", "prettier", "@typescript-eslint"],
  "globals": {
    "page": true,
    "browser": true,
    "context": true,
    "jestPuppeteer": true,
    "fetch": true,
    "console": true,
    "process": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-irregular-whitespace": "off",
    "no-console": ["error", { "allow": ["log"] }],
    "no-unused-vars": "off",
    "no-useless-catch": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false,
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "typeAlias",
        "format": ["PascalCase"]
      },
      {
        "selector": "interface",
        "format": ["PascalCase"]
      },
      {
        "selector": "typeParameter",
        "format": ["PascalCase"]
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-angle-bracket-type-assertion": 0,
    "@typescript-eslint/no-object-literal-type-assertion": 0,
    "simple-import-sort/imports": "error"
  }
}