@tailwind base;

#__next {
  @apply bg-background container min-h-screen lg:w-10/12 lg:min-w-max lg:min-h-screen lg:mx-auto;
}

@tailwind components;
@tailwind utilities;

.hover-anime {
  display: block;
  position: relative;
  text-decoration: none;

  width: 100%;
  height: 100%;

  z-index: 0;
}

.hover-anime:hover:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';

  width: 100%;
  height: 100%;

  z-index: 1;

  @apply bg-reverse-light animate-pentagon
}

.hover-anime:hover:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';

  width: 100%;
  height: 100%;

  z-index: 2;

  mix-blend-mode: color-dodge;
  @apply bg-primary-light animate-parallelogram
}

.hover-anime__inner {
  position: relative;
  z-index: 3;
  padding: 10px 8%;
  @apply text-on-background
}

.hover-anime__inner:hover {
  @apply text-surface
}
